<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="edu.swjtuhc.demo.mapper.OrderMapper">

	<resultMap type="edu.swjtuhc.demo.model.Trolley"
		id="trolley_result">
		<id column="t_id" property="tId" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result column="username" property="userName"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="addess" property="Addess"
			javaType="java.lang.String" jdbcType="VARCHAR" />
			<result column="addess2" property="Addess2"
			javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="money" property="Money"
			javaType="java.lang.Integer" jdbcType="INTEGER" />
	</resultMap>

	<select id="selectAllTrolleys" resultMap="trolley_result">
		select * from trolley
	</select>

</mapper>